{% extends "base.html" %}
{% block content %}
<div class="container py-3">
    <header class="text-center mb-5">
        <h1>{{ _('Subscription Plans') }}</h1>
        <p class="lead text-muted">{{ _('Choose the perfect plan for your business needs.') }}</p>
    </header>

    <div class="row row-cols-1 row-cols-md-2 mb-3 text-center justify-content-center">
        <div class="col">
            <div class="card mb-4 rounded-3 shadow-sm border-primary">
                <div class="card-header py-3 text-white bg-primary border-primary">
                    <h4 class="my-0 fw-normal">{{ _('Free') }}</h4>
                </div>
                <div class="card-body">
                    <h1 class="card-title pricing-card-title">$0<small class="text-muted fw-light">/mo</small></h1>
                    <ul class="list-unstyled mt-3 mb-4">
                        <li>{{ _('1 bot included') }}</li>
                        <li>{{ _('500 messages per month') }}</li>
                        <li>{{ _('Telegram Integration') }}</li>
                        <li>{{ _('Basic Support') }}</li>
                    </ul>
                    <button type="button" class="w-100 btn btn-lg btn-outline-primary">{{ _('Your Current Plan') }}</button>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card mb-4 rounded-3 shadow-sm">
                <div class="card-header py-3">
                    <h4 class="my-0 fw-normal">{{ _('Premium') }}</h4>
                </div>
                <div class="card-body">
                    <h1 class="card-title pricing-card-title">$15<small class="text-muted fw-light">/mo</small></h1>
                    <ul class="list-unstyled mt-3 mb-4">
                        <li>{{ _('Unlimited bots') }}</li>
                        <li>{{ _('Unlimited messages') }}</li>
                        <li>{{ _('Telegram, Instagram, WhatsApp') }}</li>
                        <li>{{ _('Priority Support') }}</li>
                    </ul>
                    <button type="button" class="w-100 btn btn-lg btn-primary">{{ _('Upgrade to Premium') }}</button>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}